<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    </head>
    <body>
        <div class="">
          <a href="{{ url_for('logout') }}">Logout</a>
        </div>
        <div class="">
          {% block welcome %}
          {% endblock %}
        </div>
        <div class="container">
            {% block body %}
            {% endblock %}
        </div>
    </body>
</html>
